@font-face {
  font-family: 'Universal';
  src: url(../fonts/UniversalSans/Universal.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Universal', sans-serif;
}

.hero-section {
  height: 100vh;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
  background-position: center center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.tesla-logo {
  width: 150px;
  color: white;
}

/*Menu-Navigation*/
.menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu .menu-list li {
  list-style: none;
  margin-left: 20px;
  font-size: 1em;
}

.menu .menu-list li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

.menu .menu-list li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

/*RIght side icons*/
.right-side-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.tds-icon {
  color: white;
  width: 30px;
}

/*HERO SECTION-INFO*/

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-info h1 {
  color: white;
  font-size: 3.5em;
}

.hero-info a {
  color: white;
  font-size: 1.75em;
  margin-bottom: 20px;
}

.hero-info p {
  color: white;
  font-size: 1.1em;
  position: relative;
  font-weight: 900;
  font-weight: bold;
}

.hero-info p sub {
  color: white;
  top: 0;
  font-size: 7px;

  position: absolute;
}

/*Hero-section-buttons*/
.btn-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  width: 1000px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  min-width: 260px;
  font-size: 0.85em;
  line-height: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 15px 100px;
}

.order-now-btn {
  background-color: rgb(62, 106, 225);
  color: white;
}

.drive-demo-btn {
  background-color: white;
  color: rgb(57, 60, 65);
  font-weight: 600;
}

/*second-section*/
.second-section {
  height: 100vh;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}

/*Second SECTION-INFO*/
.second-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-section-info h1 {
  color: white;
  font-size: 3.5em;
}

.second-section-info a {
  color: white;
  font-size: 1.75em;
  margin-bottom: 20px;
}

.second-section-info p {
  color: white;
  font-size: 1.1em;
  position: relative;
  font-weight: 900;
  font-weight: bold;
}

.second-section-info p sub {
  color: white;
  top: 0;
  font-size: 7px;
  position: absolute;
}

/*model x-section*/

.third-section {
  height: 100vh;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.third-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.third-section-info h1 {
  color: white;
  font-size: 3.5em;
}

.third-section-info a {
  color: white;
  font-size: 1.25em;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  line-height: 20px;
  margin-top: 15px;
}

.third-section-info p {
  color: white;
  font-size: 1.75em;
  position: relative;
  font-weight: 900;
  font-weight: bold;
}

.third-section-info p sub {
  color: white;
  top: 0;
  font-size: 7px;
  position: absolute;
}
